body {
    background-image: url(volume-abstract-graphic-loneliness-desk.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.container {
    width: 1400px;
    border: 6px solid black;
    margin: 50px auto;
    padding: 10px;
}

.box1 {
   display: inline-block;
   width: 30%; 
   border-right: 6px solid black;
   padding: 35px;
}
.box1 h3 {
    margin-top: 0;
}

.box2 {
    display: inline-block;
    width: 60%; 
    margin-top: 40px;
    vertical-align: top;
}

.box2 ul {
    display: inline-block;
    margin: 0;
    
}

table {
    border-collapse: collapse;
    border: 2px solid black;
    text-align: center;
    margin: 30px auto;

}


td {
    border: 2px solid black;
    width: 200px;
    height: 30px;
}

#but2 {
    display: block;
    margin: 20px auto;
}